html,body{
    overflow-x: hidden;
}
.mdui-appbar{
    height: 66px;
}
.mdui-box{
    padding: 10px;
    position: fixed;
    width: 100%;
    background: aliceblue;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 66px;
    border-bottom: 1px solid #ddd;
}
.mdui-toolbar{
    height: 46px;
}
@media (min-width: 600px) {
  .mdui-appbar {
    height: 64px;
  }
  .mdui-appbar,.mdui-box{
      height: 84px;
  }
}
@media (orientation: landscape) and (max-width: 959px) {
  .mdui-appbar {
    height: 64px;
    line-height: 64px;
  }
  .mdui-appbar,.mdui-box{
    height: 84px;
  }
}